:root {
    --beige: #D6B690;
    --peach: #E6AA99;
    --red: #C36160;
    --white: #FBFAFB;
    --gray: #879298;
}

h3, h4, p {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.garamond {
    font-family: 'EB Garamond', serif;
}

.sub-header {
    font-size: 42px;
}

.submit-button {
    font-size: 20px;
}

#alamo-coffee {
    font-family: 'EB Garamond', serif;
    font-size: 90px;
    color: var(--beige);
    text-align: center;
}

#header {
    background-image: url("img/beans.jpg");
    padding: 2.25em;
}

#custom {
    background-image: url("img/201.png");
}

input {
    background-color: #C7B7B2;
}

select {
    background-color: #C7B7B2;
}

button {
    background-color: #C7B7B2;
    width: 100%;
}

#add-coffee-name-input {
    background-color: #C7B7B2;
}

#coffee-roast-selection {
    background-color: #C7B7B2;
}

#coffee-rating-selection {
    background-color: #C7B7B2;
}

#search-coffee {
    background-color: #C7B7B2;
}

#roast-selection {
    background-color: #C7B7B2;
}

#sort-selection {
    background-color: #C7B7B2;
}

#remove-coffee-name-input {
    background-color: #C7B7B2;
}

#custom .coffee {
    width: 300px;
}